/************* defaults*********/
nav,header,footer{
    display: block;
}
*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Dosi','Arial','San-serif';
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body{
    line-height: 1;
    
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


hr{
    color: #dcdde1;
}

/******header******/
header{
    background-image: url(assets/backgrounds/hero.jpg);
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    

}

/*************section-1*************/
div.sect1 div h1{
    font-weight: 150;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}
div.sect1 div p{
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 100px;
}



/* ************ nav bar********** */
nav {
    width: 100%;
    margin: 0;
    margin-bottom: 10rem;
}
nav ul{
    
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 20px;

}
ul.topnav li{
    list-style: none;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
}
ul.topnav li.topnav-left{
    float: left;
    margin-left: 10px;
}
ul.topnav li.topnav-left a img{
    width: 70%;
}
ul.topnav li a:link,
ul.topnav li a:visited{
    display: block;
    /* text-align: center; */
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    padding-bottom: 10px;
    
}

ul.topnav li a:hover,
ul.topnav li a:active{
    color: white;
    border-bottom: 2px solid #fff;
}
ul.topnav li.dropdownIcon{
    display: none;
}

/*****section2*****/
/*******sect2*******/
div.sect2{
    background-color: #ada48f;
    
}
fieldset.section2{
    margin: 50px;
    margin-left: 100px;
    border: none;
}
 input[type = checkbox]{
    display: inline-block;
    cursor: pointer;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    /* padding: 10px; */
    border-radius: 0;
    
    
    
}
fieldset.section2 label{
    margin: 0 14px;
    color: #1a1813;
}
div.allproducts a:link,
div.allproducts a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #670a0d;
    padding: 10px 10px;
    margin-top: 3rem;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: border-radius 0.8s;

}

div.allproducts a:hover{
    border: 2px solid #860d11;

}

/******section3*** */
div.sect3{
    padding: 40px;
    
}
 div.sect4{ 
    margin-bottom: 20px; 
 }

div.menclothes p{
    text-transform: uppercase;
    font-size: 0.8rem;
}

div.exhibit{
    text-align: right;
}
div.exhibit p{
    font-size: 0.8rem;
    font-weight: bold;
    color: #57461c;
}
div.exhibit a:link,
div.exhibit a:visited{
    text-decoration: none;
    color: #57461c;
    font-size: 0.8rem;
}

div.products{
    background-color: #dfe4ea;
    height: 300px;
    width: 250px;
    margin-left: 30px;
    margin-right: 20px;
    margin: auto;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
span.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: right;
  }
  div.align-left{
      align-items: center;
  }
  
  
  span.green{
      background-color: green;
     margin-left: 0.8rem;
  }
  span.blue{
      background: blue;
  }
  span.brown{
      background-color: brown;
  }  
  span.red{
      background-color: #670a0d;
  }
  span.white{
      background-color: #fff;
  }

 div.col-6 p.price{
    margin-left: 70px;
}  


a.productlink{
    display: block;
    margin: auto;
    padding-bottom: 20px;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }
 
 

.products img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}



.products:hover {
    border: 2px solid #696969;
    border-radius: 2%;
} 


/************mobile ************/



@media screen and (max-width: 680px){

    /******defaults*/
   .col-8,.col-4,.col-3,.col-7{
       width: 100%;
       margin: 0;
    }
    /* dropdown */
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    
    }
    /* header */
    header{
        background-position: center; 
    }
    /* nav bar */

    nav{
        margin-bottom: 50px;
    }
    ul.topnav li.topnav-left{
        margin-left: 4px;
    }
    ul.topnav li.topnav-left a img{
        width: 50%;
    }
 /* section1 */
    div.sect1 div h1{
        font-size: 1.6rem;
    }
    div.sect1 div p{
        font-size: 0.7rem;
    }

    /*****section-2****/
    div.checkboxes{
        margin:0 ;
    }
    div.allproducts{
        margin: 25px ;
        text-align: center;
    }
    fieldset.section2{
        margin: 5px 0;
    }
    fieldset.section2 label{
        margin: 0 7px;
    }
    input[type = checkbox]{
       transform: scale(1);
       -ms-transform: scale(1);
       -webkit-transform: scale(1);
        padding: 8px;
    }

    div.allproducts a:link,
    div.allproducts a:visited,
    div.allproducts a:hover{
        font-size: 0.6rem;
    }
    /* section3 */
    div.exhibit{
        text-align: center;
    }
    .col-1,.col-9,.col-4,.col-10,.col-3,.col-7,.col-2{
        width: 100%;
        align-items: center;
        margin: 0;
    }
    span.green{
        background-color: green;
       margin-left: 1rem;
    }
    div.prod-size p{
        align-items: center;
        margin-bottom: 5px;
    }
    .products{
        margin: 2px 5px;

    }
   
   
}

